.has-content [data-toggle='add-content']{
    display: none;
}

.row-contents[data-row="1"] .col-content.col-sm-4 + .col-content.col-sm-8 + .col-content,
.row-contents[data-row="1"] .col-content.col-sm-8 + .col-content.col-sm-4 + .col-content,
.row-contents:not([data-row="1"]) .col-content.col-sm-8:first-child + .col-content{
    display: none;
}

.col-content.last-has-content [data-toggle='delete-content']{
    display: block;
}

.content-layout-wrapper{
    background: white;
    padding: 1.5rem 1rem 1.5rem;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    position: relative;
}

.content-layout-wrapper [data-toggle='delete-content']{
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-right-radius: 0;
    display: none;
}