.contents .questions .question{
    position: relative;
}
.contents .questions .question [data-toggle="remove-question"]{
    position: absolute;
    right: 0;
    top: 0  ;
}
.contents .questions .questions-list .question:first-child [data-toggle="remove-question"]{
    display: none;
}
.contents .questions .alternatives .alternatives-list .alternative:first-child [data-toggle="remove-alternative"]{
    display: none;
}