<template>
    <div>
        <div class="row">

            <!-- <div  v-for="(address, index) in addresses" class="col-md-12">
                
                <hr>

                <div v-if="numAddress > 1" style="float: left; width: 100%;">
                    <i @click="deleteAddress(index)" class="fa fa-times" style="margin:0 10px 15px 0; cursor: pointer; float: right;"></i>
                </div>
                
                 

            </div> -->

            <div class="col-md-3">
                <div v-if="Promotions.length > 0">
                    <div style="" @mousedown="selectPromotion(index)" class=" parent-btn-content-promotion d-flex"  v-for="(content, index) in Promotions" :key="index"  :id="'parent-btn-content-promotion-'+index">
                        <div style="width: 100%;">
                            <span :id="'btn-content-promotion-'+index" class="btn-content-promotion"  href="javascript:;">{{content.name}}</span>
                            <small style="display: block"><i>{{companies[content.company_id]}}</i></small>
                        </div>
                        <div style="width: 30;">
                            {{content.user.length}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div v-if="promotionSelected">
                    <div class="row">
                        <div class="col-md-6">
                            <small>Criado em: {{formatDate(promotionSelected.created)}}</small> 
                            <h3>{{promotionSelected.name}}</h3>
                        </div> 
                            
                        <div class="col-md-3">
                            <div class="item-totalr">
                                <small>Total de participações</small>
                                <h1>{{promotionSelected.user.length}}</h1>
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="item-totalr">
                                <small>Total de Novos Ouvintes</small>
                                <h1>{{promotionSelected.new_users.length}}</h1>
                            </div>
                            
                        </div> 
                    </div>
                    <hr>
                    <div class="row">
                        
                        <div class="col-md-6 p-1">
                            <div class="item-idade cor-rosa">
                                <small>Homens</small>
                                <h1 class="p-0 m-0">{{countUniquesUsers(promotionSelected.participants, 'gender', 'masculino')}}</h1>
                            </div>
                        </div>
                        <div class="col-md-6 p-1">
                            <div class="item-idade cor-azul">
                                <small>Mulheres</small>
                                <h1 class="p-0 m-0">{{ countUniquesUsers(promotionSelected.participants, 'gender', 'feminino') }}</h1>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3 p-1">
                            <div class="item-idade cor-laranja-1">
                                <small>Até 19 anos</small>
                                <h2>{{countYears(promotionSelected.participants, 0 , 20)}}</h2>
                            </div>
                        </div> 
                        <div class="col-md-3 p-1">
                            <div class="item-idade cor-laranja-2">
                                <small>De 20 Até 29 anos</small>
                                <h2>{{countYears(promotionSelected.participants, 19 , 30)}}</h2>
                            </div>
                        </div> 
                        <div class="col-md-3 p-1">
                            <div class="item-idade cor-laranja-3">
                                <small>De 30 Até 39 anos</small>
                                <h2>{{countYears(promotionSelected.participants, 29 , 40)}}</h2>
                            </div>
                        </div> 
                        <div class="col-md-3 p-1">
                            <div class="item-idade cor-laranja-4">
                                <small>+ De 40 anos </small>
                                <h2>{{countYears(promotionSelected.participants, 39 , 100)}}</h2>
                            </div>
                        </div> 
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-md-6">
                            <h6>Bairros</h6>
                            <div style="width: 100%; height: 400px; overflow-y:scroll;">
                                
                                <div class="d-flex" v-for="(item, index) in promotionSelected.neighborhood" :key="index">
                                    <div style=" width: 100%;">{{item.label}}</div>
                                    <div style=" width: 30px; text-align: right;">{{item.count}}</div>
                                </div> 
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h6>Municípios</h6>
                            <div style="width: 100%; height: 400px; overflow-y:scroll;">
                                
                                <div class="d-flex" v-for="(item, index) in promotionSelected.city" :key="index">
                                    <div style=" width: 100%;">{{item.label}}</div>
                                    <div style=" width: 30px; text-align: right;">{{item.count}}</div>
                                </div> 
                                
                            </div>
                        </div> 
                    </div>
                     
                </div>

                <div v-if="!promotionSelected"  style="text-align: center;">
                    <h1 style="margin:0; padding:0;">Selecione a promoção</h1>
                    <small>para ver suas as estatísticas.</small>
                </div>
            </div>
 
        </div>

    </div>
</template>

<script>


    export default {

        props: [
            'propPromotions',
            'propCompanies',
        ],

        data() {
            return {
                Promotions: [],                 
                promotionSelected: null,
                companies: null          
            }
        },

        methods: { 

            selectPromotion(index){
                
                this.promotionSelected = null;
                $('.parent-btn-content-promotion').removeClass('active');
                $('#parent-btn-content-promotion-'+index).addClass('active');

                this.promotionSelected = {
                    participants: this.Promotions[index].participants,
                    neighborhood: this.Promotions[index].neighborhood,
                    city: this.Promotions[index].city,
                    name: this.Promotions[index].name,
                    created: this.Promotions[index].created,
                    user: this.Promotions[index].user,
                    new_users: this.Promotions[index].new_users,
                };

                

                const filteredArr = this.promotionSelected.participants.reduce((acc, current) => {
                const x = acc.find(item => item.user_id === current.user_id);
                if (!x) {
                    return acc.concat([current]);
                } else {
                    return acc;
                }
                }, []);

                this.promotionSelected.participants = filteredArr;
                
                /*this.promotionSelected.participants.map(participant => {
                    return {

                    }
                });*/

                console.log(this.promotionSelected);

            },

            countUniquesUsers(participants, campo, value = null){
                var count = 0;

                participants.map(participant => {

                    console.log(campo, participant.user[campo]);

                    if(value !== null && participant.user[campo] === value){
                        count++;
                    }
                });

                return count;
            },

            countGroupDataNeighborhood(participants){

                var uniques = [];

                participants.map(participant => {
                    var repeat = 0;

                    uniques.map(unique => {
                        if(participant.user.neighborhood === unique.user.neighborhood){
                            repeat++;
                            unique.count += 1;
                            return unique;
                        }
                    });

                    if(repeat===0){
                        uniques.push({
                            count: 0,
                            user: participant.user,
                            });
                    }
                });

                return uniques;
            
            },

            formatDate(date){
                return date.split('T')[0];
            },

            countYears(participants, min = 0, max = 100){
                var count = 0;
                participants.map(participant => {
                    if(participant.user.idade > min && participant.user.idade < max ){
                        count++;
                    }
                });

                return count;

            },

            setPromotions() {
                this.Promotions = JSON.parse(atob(this.propPromotions));
                this.companies = JSON.parse(this.propCompanies);

                console.log('Promotions', this.Promotions);
                console.log('companies', this.companies);
            },
 
        },

        mounted() {
            this.setPromotions();
        }
    };
</script>
