{#
/** 
 * @copyright 2019 - Ricardo Aranha - grupogrow.com.br 
 */
#}
    /**
     * Delete method
     *
     * @param string|null $id {{ singularHumanName }} id.
     * @return \Cake\Http\Response|null Redirects to index.
     * @throws \Cake\Datasource\Exception\RecordNotFoundException When record not found.
     */
    public function delete($id)
    {
        $this->request->allowMethod(['delete']);
        ${{ singularName }} = $this->{{ currentModelName }}->get($id);
        if ($this->{{ currentModelName }}->delete(${{ singularName }})) {
            $this->set([
                'result' => [
                    'success' => true
                ],
                '_serialize' => 'result'
            ]);
        } else {
            $this->set([
                'result' => [
                    'success' => false,
                    '_serialize' => ''
                ]
            ]);            
        }
    }
