{#
/** 
 * @copyright 2019 - Ricardo Aranha - grupogrow.com.br 
 */
#}
    /**
     * Index method
     *
     * @return \Cake\Http\Response|null
     */
    public function index()
    {
        $this->request->allowMethod(['post','get']);
{% set belongsTo = Bake.aliasExtractor(modelObj, 'BelongsTo') %}
{% if belongsTo %}
        $this->paginate = [
            'contain' => [{{ Bake.stringifyList(belongsTo, {'indent': false})|raw }}]
        ];
{% endif %}
        ${{ pluralName }} = $this->paginate($this->{{ currentModelName }});
        $this->set([
            'result' => [
                'success' => true,
                'data' => ${{ pluralName }}
            ],
            '_serialize' => 'result'
        ]);        
    }
