.page-sidebar .sidebar-menu .menu-items>li ul.sub-menu>li{padding:0px 15px 0 40px;}
.page-sidebar .sidebar-menu .menu-items>li ul.sub-menu>li>a{}

.login-wrapper{background-color: transparent !important;}

.btn-input-lg{height: 54px!important;}

/*form .row [class*='col-']:first-child{padding-left: 7px!important;}*/


.builder-new{position: fixed; right: 25px; bottom: 80px; z-index: 99999;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	    background-color: #3b4752;
    border-color: #3b4752;
}

select.input-sm{margin-top: -8px!important;height: 22px!important;}

@media screen and (max-width: 767px){
	.builder-new{position: fixed; right: 10px; bottom: 12%; z-index: 999;}
}

.mt-1{margin-top: 10px;}
.mt-2{margin-top: 20px;}
.mt-3{margin-top: 30px;}
.mt-4{margin-top: 40px;}

.mb-1{margin-bottom: 10px;}
.mb-2{margin-bottom: 20px;}
.mb-3{margin-bottom: 30px;}
.mb-4{margin-bottom: 40px;}

.input.file input{
	padding: 0px;
	height: 33px;
}

.page-container .page-content-wrapper .container-fluid .content{padding-top: 10px;}
.page-container .page-content-wrapper .top-content{text-align: right; padding: 0 38px 0 0;}
.page-container .page-content-wrapper .top-content .side-nav li{display: inline-block;}

@media screen and (max-width: 767px){
	
	.page-container .page-content-wrapper .top-content{text-align: center; padding: 0;}
	.page-container .page-content-wrapper .top-content .side-nav{text-align: center; padding: 0;}
}

li.list-style-none{list-style: none;}
li.list-style-none i{padding: 5px; border: 1px solid silver; border-radius: 4px;}

.box-search{ border: 1px solid rgba(0, 0, 0, 0.07); margin-bottom: 20px; padding-bottom: 25px; padding-top: 10px;}
.box-search button, .box-search a { margin-top: 23px; }
