{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
    /**
     * Delete method
     *
     * @param string|null $id {{ singularHumanName }} id.
     * @return \Cake\Http\Response|null Redirects to index.
     * @throws \Cake\Datasource\Exception\RecordNotFoundException When record not found.
     */
    public function delete($id = null)
    {
        $this->request->allowMethod(['post', 'delete']);
        //Individual delete
        if(!empty($id)){
            ${{ singularName }} = $this->{{ currentModelName }}->get($id);
            if ($this->{{ currentModelName }}->delete(${{ singularName }})) {
                $this->Flash->success(__('The {{ singularHumanName|lower }} has been deleted.'));
            } else {
                $this->Flash->error(__('The {{ singularHumanName|lower }} could not be deleted. Please, try again.'));
            }
        }else{ //Batch delete
            $list = $this->{{ currentModelName }}->find('list');
            $entities = $this->{{ currentModelName }}->patchEntities($list, $this->request->getData()['{{ currentModelName }}']);
            if($this->{{ currentModelName }}->deleteMany($entities)){
                $this->Flash->success(__('The {{ pluralHumanName }} has been deleted.'));
            }else{
                $this->Flash->error(__('The {{ pluralHumanName }} could not be deleted. Please, try again.'));
            }
        }

        return $this->redirect(['action' => 'index']);
    }
