{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
    /**
     * Index method
     *
     * @return \Cake\Http\Response|null
     */
    public function index()
    {
        $this->loadComponent('GrupoGrowPaginate.GrupoGrowPaginate');
{% set belongsTo = Bake.aliasExtractor(modelObj, 'BelongsTo') %}
        $query = $this->{{ currentModelName }}->find();
{% if belongsTo %}

        $query = $query->contain([
            {{ Bake.stringifyList(belongsTo, {'indent': false})|raw }},
        ]);
{% endif %}
        ${{ pluralName }} = $this->GrupoGrowPaginate->paginate($query);

        $this->set(compact('{{ pluralName }}'));
    }
