<?php
/**
 * @copyright     2019
 * @author Ricardo Aranha - www.grupogrow.com.br   
 * Login Form
 */
/**
 * @var \App\View\AppView $this
 */
?>

<div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
    <img src="/img/manager/logo.png" alt="logo" data-src="/img/manager/logo.png" data-src-retina="/img/manager/logo.png" width="60">
    <p class="p-t-35"><?php echo __('Administrative Access'); ?></p>

    <?php //echo $this->Html->image('../files/user/avatar/'.$this->data['User']['id'].'/thumb_'.$this->data['User']['avatar'], ['width' => '80']); ?>

    <?php echo $this->Form->create('User', ['class' => 'p-t-15']); ?>
    <div class="row">
        <div class="col-sm-2">
            <?php 
                if(isset($public_url_avatar)){
                    echo '<img src="'.$public_url_avatar.'" class="img-responsive"/>';
                }else{
                    echo $this->Utility->avatarUser(null,null, 'img-responsive', '', null);
                }
            ?>
        </div>
        <div class="col-sm-10">
            <div class="form-group form-group-default">
                <label><?php echo __('login'); ?></label>
                <div class="controls">
                    <?php echo $this->Form->text('username', ['class' => 'form-control', 'div' => false, 'label' => false, 'placeholder' => __('username'), 'autocomplete' => 'off', 'value' => isset($public_login)?$public_login:null]); ?>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group form-group-default">
        <label><?php echo __('password'); ?></label>
        <div class="controls">
            <?php echo $this->Form->text('password', ['class' => 'form-control', 'div' => false, 'label' => false, 'type' => 'password', 'placeholder' => __('credentials')]); ?>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 no-padding">
            <div class="checkbox ">
                <input type="checkbox" name="data[User][keep]" value="1" id="KeepMe" <?php echo $public_keep?"checked='checked'":null; ?>>
                <label for="KeepMe"><?php echo __('Keep Me Signed in'); ?></label>
            </div>
        </div>
        <div class="col-md-6 text-right d-none hidden">
            <a href="#" class="text-info small"><?php echo __('Help? Contact Support'); ?></a>
        </div>
    </div>
    <button class="btn btn-primary btn-cons btn-animated btn-lg from-left fa fa-sign-in m-t-10" type="submit">
        <span><?php echo __('Sign in'); ?></span>
    </button>
    <?php 
      if($public_keep):
         echo $this->Html->link('<span>'.__('clear').'</span>', array('controller' => 'users', 'action' => 'clear'), array('class' => 'btn btn-default btn-cons btn-animated btn-lg from-left fa fa-times m-t-10', 'escape' => false));
      endif;
      ?>
    <?php echo $this->Form->end(); ?>
    <div class="pull-bottom sm-pull-bottom">
        <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
            <div class="col-sm-3 col-md-2 no-padding">
                <img alt="" class="m-t-5" data-src="/theme/Pages/assets/img/logo-grow-bg-black.png" data-src-retina="/theme/Pages/assets/img/logo-grow-bg-black.png" height="60" src="/theme/Pages/assets/img/logo-grow-bg-black.png" width="60">
            </div>
            <div class="col-sm-9 m-t-10">
                <p>
                    <small><?php echo __('This access is private. If you want to access, you must ask the administrator.'); ?></small><br>
                    <small><?php echo __('Develop by'); ?>
                        <?php echo $Developer['Author']; ?></small>
                </p>
            </div>
        </div>
    </div>
</div>
