{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
<?php
/**
 * @var \{{ namespace }}\View\AppView $this
 * @var \{{ entityClass }} ${{ singularVar }}
 */
?>
{% set fields = Bake.filterFields(fields, schema, modelObject) %}
<div class="container-fluid container-fixed-lg">
	<ol class="breadcrumb">
		<li><?php echo $this->Html->link(__('Home'), ['controller' => 'pages', 'action' => 'index'], ['class' => '']); ?></li>
		<li><?php echo $this->Html->link(__('{{pluralHumanName}}'), ['controller' => '{{ modelClass }}', 'action' => 'index'], ['class' => '']); ?></li>
		<li><a class="active"><?php echo __('Add') . ' ' . __('{{pluralHumanName}}'); ?></a></li>
	</ol>
</div>

<div class="container-fluid container-fixed-lg">

	<div class="row">
		<div class="col-lg-7 col-md-6 ">
			<div class="panel panel-transparent">
				<div class="panel-body">
                    <?php //@TODO In order to always have file upload support when model has a field named image or photo ?>
                    <?= $this->Form->create(${{ singularVar }}, ['type' => 'file']) ?>
{% for field in fields %}
{%- if field not in primaryKey %}
    {%- if keyFields[field] %}
        {%- set fieldData = Bake.columnData(field, schema) %}
        {%- if fieldData.null %}    
                    <div class='row'>
                        <div class="col-sm-12">
                            
                            <?php echo $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}, 'class' => 'form-control', 'empty' => __('Select'), 'label' => __('{{ field | replace({'_': ' '}) | title }}')]); ?>

                        </div>
                    </div>
        {%- else %} 
                    <div class='row'>
                        <div class="col-sm-12">
                            <?php echo $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}, 'class' => 'form-control', 'empty' => __('Select'), 'label' => __('{{ field | replace({'_': ' '}) | title }}')]); ?>
                        </div>
                    </div>
        {%- endif %}    
    {%- elseif field not in ['created', 'modified', 'updated'] %}
        {%- set fieldData = Bake.columnData(field, schema) %}
        {%- if fieldData.type in ['date', 'datetime', 'time'] and fieldData.null %}

                    <div class='row'>
                        <div class="col-sm-12">
                            <?php echo $this->Form->control('{{ field }}', ['empty' => true, 'class' => 'form-control', 'label' => __('{{ field | replace({'_': ' '}) | title }}')]); ?>
                        </div>
                    </div>
        {%- else %} 
                    <div class='row'>
                        <div class="col-sm-12">

                        {%- if field not in ['status'] %}
                            
                            <?php echo $this->Form->control('{{ field }}', ['class' => 'form-control input-lg', 'label' => __('{{ field | replace({'_': ' '}) | title }}')]); ?>

                        {%- else %}
                        
                        <?php if(empty($statuses)){ ?>

                            <?php
                            
                            $this->Form->setTemplates([
                                'nestingLabel' => '{{'{{'}}hidden{{'}}'}}<label{{'{{'}}attrs{{'}}'}}>{{'{{'}}text{{'}}'}}</label>{{'{{'}}input{{'}}'}}'
                            ]);

                            echo $this->Form->control('status', array('label' => __('Status'), 'type' => 'checkbox', 'class' => 'switch', 'data-on' => 'success', 'data-off' => 'danger', 'data-on-label' => __('Yes'), 'data-off-label' => __('No'), 'required' => false));

                            ?>
                            <?php }else{ ?>
                                <?php echo $this->Form->control('{{ field }}', ['class' => 'form-control input-lg', 'label' => __('{{ field | replace({'_': ' '}) | title }}'), 'empty' => __('Select')]); ?>
                            <?php } ?>
                        {%- endif %}

                        </div>
                    </div>
        {%- endif %}
    {%- endif %}
{%- endif %}
{%- endfor %}

{%- if associations.BelongsToMany %}
{%- for assocName, assocData in associations.BelongsToMany %}
                    <div class='row'>
                        <div class="col-sm-12">
                            <?php echo $this->Form->control('{{ assocData.property }}._ids', ['options' => ${{ assocData.variable }}, 'class' => 'form-control', 'empty' => __('Select'), 'label' => __('{{ field | replace({'_': ' '}) | title }}')]); ?>
                        </div>
                    </div>
{%- endfor %}
{% endif %}


                    <div class="clearfix"></div>
					<button class="btn btn-primary" type="submit" data-hide="modal"><?php echo __('Create'); ?></button>
					<button class="btn btn-info" type="submit" name="refer"><?php echo __('Create'); ?> <?php echo __('and continue'); ?></button>
                    <?= $this->Form->end() ?>
                </div>
            </div>
        </div>
    </div>

</div>