<?php
/**
 * @copyright 2019
 * @author Ricardo Aranha - www.grupogrow.com.br
 *
 * @var \{{ namespace }}\View\AppView $this
 * @var \{{ entityClass }}[]|\Cake\Collection\CollectionInterface ${{ pluralVar }}
 */
?>

{% set fields = Bake.filterFields(fields, schema, modelObject, indexColumns, ['binary', 'text']) %}

<?php echo $this->Html->link('<i class="fa fa-plus fa-lg"></i>', ['action' => 'add'], ['escape' => false, 'class' => 'builder-new btn-info thumbnail-wrapper d48 circular', 'title' => __('Add new register'), 'data-toggle' =>'tooltip', 'data-placement' => 'left']); ?>
<div class="container-fluid container-fixed-lg">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><?php echo $this->Html->link(__('Home'), ['controller' => 'pages', 'action' => 'index'], ['class' => '']); ?></li>
            <li class="breadcrumb-item active" aria-current="page"><?php echo __('{{pluralHumanName}}'); ?></li>
        </ol>
    </nav>
</div>

<div class="container-fluid container-fixed-lg">

    <div class="panel panel-default">

        <div class="panel-body">

            <?= $this->Form->create(null, ['method' => 'get', 'valueSources' => ['query', 'context']]) ?>
            <div class="row">
                {% for field in fields %}   
                <div class="col-md-3">
                    <?= $this->Form->control('{{pluralHumanName|replace({" ": ""})}}.{{field}}', ['class' => 'form-control']) ?>
                </div>
                {% endfor %}                
                <div class="col-md-3">
                    <label>&nbsp;</label>
                    <button type="submit" class="btn btn-primary" style="width: 100%">Buscar</button>
                </div>
            </div>
            <?= $this->Form->end() ?>

            <?php echo $this->Form->create(null, ['url' => ['action' => 'delete']]); ?>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">
                            <button class="btn btn-link" type='submit'><i class="pg-trash"></i></button>
                        </th>
                    {% for field in fields %}   
                        <th scope="col">
                            <?= $this->Paginator->sort('{{ field }}', __('{{ field | replace({'_': ' '}) | title }}')) ?>
                            <?php if($this->request->getQuery() && $this->request->getQuery('sort') == '{{field}}'){ ?>
                                <i class='fas fa-caret-<?php echo $this->request->getQuery('direction') == ' asc' ? ' up' : ' down' ;?>'></i>
                            <?php } ?>
                        </th>
                    {% endfor %}    
                        <th scope="col">
                            <?php echo __('Actions'); ?>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach (${{ pluralVar }} as ${{ singularVar }}){ ?>
                        <tr>
                            <td>
                                <input name="{{pluralHumanName}}[][id]" value="<? echo ${{singularVar}}->id; ?>" id="{{singularVar}}-<?php echo ${{singularVar}}->id; ?>" type="checkbox"/>
                                <label for="page-<?php echo ${{singularVar}}->id;?>" class="no-padding no-margin"></label>
                            </td>
        {% for field in fields %}
            {% set isKey = false %}
            {% if associations.BelongsTo %}
                {% for alias, details in associations.BelongsTo %}
                    {% if field == details.foreignKey %}
                        {% set isKey = true %}  
                            <td><?= ${{ singularVar }}->has('{{ details.property }}') ? $this->Html->link(${{ singularVar }}->{{ details.property }}->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action' => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}]) : '' ?></td>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if isKey is not same as(true) %}
                {% set columnData = Bake.columnData(field, schema) %}
                {% if columnData.type not in ['integer', 'float', 'decimal', 'biginteger', 'smallinteger', 'tinyinteger'] %}    
                            <td><?= h(${{ singularVar }}->{{ field }}) ?></td>
                {% else %}  
                            <td><?= $this->Number->format(${{ singularVar }}->{{ field }}) ?></td>
                {% endif %}
            {% endif %}
        {% endfor %}
                            {% set pk = '$' ~ singularVar ~ '->' ~ primaryKey[0] %} 
                            <td class="actions">
                                <?= $this->Html->link('<button type="button" class="btn btn-info"><i class="fa-eye fa"></i></button>', ['action' => 'view', {{ pk|raw }}], ['escape' => false]) ?>
                                <?= $this->Html->link('<button type="button" class="btn btn-primary"><i class="fa-pencil fa"></i></button>', ['action' => 'edit', {{ pk|raw }}], ['escape' => false]) ?>
                                <?= $this->Form->postLink('<button type="button" class="btn btn-danger"><i class="fa-trash fa"></i></button>', ['action' => 'delete', {{ pk|raw }}], ['confirm' => __('Are you sure you want to delete # {0}?', {{ pk|raw }}), 'escape' => false]) ?>
                            </td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
            <?php echo $this->Form->end(); ?>

            <div class="paginator">
                <ul class="pagination">
                    <?= $this->Paginator->first('<< ' . __('first')) ?>
                    <?= $this->Paginator->prev('< ' . __('previous')) ?>
                    <?= $this->Paginator->numbers() ?>
                    <?= $this->Paginator->next(__('next') . ' >') ?>
                    <?= $this->Paginator->last(__('last') . ' >>') ?>
                </ul>
                <p><?= $this->Paginator->counter(__('Page {{ '{{' }}page{{ '}}' }} of {{ '{{' }}pages{{ '}}' }}, showing {{ '{{' }}current{{ '}}' }} record(s) out of {{ '{{' }}count{{ '}}' }} total')) ?></p>
            </div>

        </div>
    </div>
</div>
