{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
<?php
/**
 * @var \{{ namespace }}\View\AppView $this
 * @var \{{ entityClass }} ${{ singularVar }}
 */
?>
{% set associations = {'BelongsTo': [], 'HasOne': [], 'HasMany': [], 'BelongsToMany': []}|merge(associations) %}
{% set fieldsData = Bake.getViewFieldsData(fields, schema, associations) %}
{% set associationFields = fieldsData.associationFields %}
{% set groupedFields = fieldsData.groupedFields %}
{% set pK = '$' ~ singularVar ~ '->' ~ primaryKey[0] %}

<div class="container-fluid container-fixed-lg">
	<ol class="breadcrumb">
		<li><?php echo $this->Html->link(__('Home'), ['controller' => 'pages', 'action' => 'index'], ['class' => '']); ?></li>
		<li><?php echo $this->Html->link(__('{{pluralHumanName}}'), ['controller' => '{{ modelClass }}', 'action' => 'index'], ['class' => '']); ?></li>
		<li><a class="active"><?php echo __('View') . ' ' . __('{{pluralHumanName}}'); ?></a></li>
	</ol>
</div>

<div class="container-fluid container-fixed-lg">

	<!-- BASIC INFORMATIONS -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title"><?php echo __('Basic information'); ?></div>
		</div>
		<div class="panel-body">
			<table class="table table-striped table-bordered">
{% if groupedFields['string'] %}
{% for field in groupedFields['string'] %}
{% if associationFields[field] %}
{% set details = associationFields[field] %}
                <tr>
                    <td>
                        <strong><?php echo __('{{ details.property|humanize }}'); ?></strong>
                    </td>
                    <td>
                        <?= ${{ singularVar }}->has('{{ details.property }}') ? $this->Html->link(${{ singularVar }}->{{ details.property }}->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action' => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}]) : '' ?>
                    </td>
                </tr>
{% else %}
                <tr>
                    <td><strong><?= __('{{ field|humanize }}') ?></strong></td>
                    <td><?= h(${{ singularVar }}->{{ field }}) ?></td>
                </tr>
{% endif %}
{% endfor %}
{% endif %}
{% if associations.HasOne %}
{% for alias, details in associations.HasOne %}
                <tr>
                    <td><strong><?= __('{{ alias|underscore|singularize|humanize }}') ?></strong></td>
                    <td><?= ${{ singularVar }}->has('{{ details.property }}') ? $this->Html->link(${{ singularVar }}->{{ details.property }}->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action' => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}]) : '' ?></td>
                </tr>
{% endfor %}
{% endif %}
{% if groupedFields.number %}
{% for field in groupedFields.number %}
                <tr>
                    <td><strong><?= __('{{ field|humanize }}') ?></strong></td>
                    <td><?= $this->Number->format(${{ singularVar }}->{{ field }}) ?></td>
                </tr>
{% endfor %}
{% endif %}
{% if groupedFields.date %}
{% for field in groupedFields.date %}
                <tr>
                    <td><strong><?= __('{{ field|humanize }}') ?></strong></td>
                    <td><?= h(${{ singularVar }}->{{ field }}) ?></td>
                </tr>
{% endfor %}
{% endif %}
{% if groupedFields.boolean %}
{% for field in groupedFields.boolean %}
                <tr>
                    <td><strong><?= __('{{ field|humanize }}') ?></strong></td>
                    <td><?= ${{ singularVar }}->{{ field }} ? __('Yes') : __('No'); ?></td>
                </tr>
{% endfor %}
{% endif %}                
            </table>
            {% if groupedFields.text %}
{% for field in groupedFields.text %}   
            <div class="text">
                <strong><?= __('{{ field|humanize }}') ?></strong>
                <blockquote>
                    <?= $this->Text->autoParagraph(h(${{ singularVar }}->{{ field }})); ?>
                </blockquote>
            </div>
{% endfor %}
{% endif %}
{% set relations = associations.BelongsToMany|merge(associations.HasMany) %}
{% for alias, details in relations %}
{% set otherSingularVar = alias|variable %}
{% set otherPluralHumanName = details.controller|underscore|humanize %} 
            <div class="related">
                <h4><?= __('Related {{ otherPluralHumanName }}') ?></h4>
                <?php if (!empty(${{ singularVar }}->{{ details.property }})) : ?>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <tr>
{% for field in details.fields %}
                            <th><?= __('{{ field|humanize }}') ?></th>
{% endfor %}
                            <th class="actions"><?= __('Actions') ?></th>
                        </tr>
                        <?php foreach (${{ singularVar }}->{{ details.property }} as ${{ otherSingularVar }}) : ?>
                        <tr>
{% for field in details.fields %}
                            <td><?= h(${{ otherSingularVar }}->{{ field }}) ?></td>
{% endfor %}
{% set otherPk = '$' ~ otherSingularVar ~ '->' ~ details.primaryKey[0] %}
                            <td class="actions">
                                <?= $this->Html->link(__('View'), ['controller' => '{{ details.controller }}', 'action' => 'view', {{ otherPk|raw }}]) ?>
                                <?= $this->Html->link(__('Edit'), ['controller' => '{{ details.controller }}', 'action' => 'edit', {{ otherPk|raw }}]) ?>
                                <?= $this->Form->postLink(__('Delete'), ['controller' => '{{ details.controller }}', 'action' => 'delete', {{ otherPk|raw }}], ['confirm' => __('Are you sure you want to delete # {0}?', {{ otherPk|raw }})]) ?>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    </table>
                </div>
                <?php endif; ?>
            </div>
{% endfor %}
            <div class="row"></div>
            <hr/>
            <div class='row'>
                <div class="actions">
    				<?php echo $this->Html->link(__('Edit register'), array('action' => 'edit', $this->request->getAttribute('params')['pass'][0]), array('class' => 'btn btn-info')); ?>
			    </div>
            </div>
        </div>
    </div>

</div>