@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');



body{
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  /* background-image: url('../img/jogadoras-bg-2.jpg'); */
  background-size: cover;
  color: #101c2c;
}

body.confirmacao{
 	/* background-image: url('../img/jogadoras-bg-dark.jpg'); */
 	background-position: center center;
}

#loading-lead{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffffaa;
    z-index: 30;
    display: none;
}

#loading-lead img{
    position: absolute;
    max-width: 100px;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


a{
  transition: ease-in .09s;
}


.div-total{
	min-height: 100vh;
}

h1, h2, h3, h4, h5, h6{
	/* color: #ecce87; */
	color: #555;
	text-transform: uppercase;
	font-weight: 900;
}

.text-theme{
	color: #555;
}
a.text-theme:hover{
	color: #b9706d;
}

.form-content{
    max-height: 100vh;
    overflow-y: auto;
}

@media only screen and (max-width: 768px){
    .form-content{
        max-height: auto;
        overflow-y: initial;
    }
}

.div-form .form-control{
	border: 1.5px solid #c48223;
	border-radius: 15px;
	font-size: 20px;
}

.div-form .btn{
	background-color: #d9830b;
	color: #fff;
	border-radius: 15px;
	border:none;
	text-transform: uppercase;
	font-size: 22px;
}

.div-form .btn:hover{
	background-color: #5d2c16;
}


.div-form.confimacao h3{
	color: #83f6df;
	font-size: 60px;
	text-transform: normal;
	text-align: left;
}

.div-form.confimacao p{
	font-size: 42px;
	text-align: left;
	color: #fff;
	line-height: 42px;
}



.div-form{
	position: relative;
	overflow: show;
}

.div-form .bg-forma{
	position: absolute;
	z-index: -9;
	width: 810px;
	top: -190px;
	right: -130px;
}

.div-praia{
	position: relative;
}

.div-praia .praia{
	position: absolute;
	bottom: -500px;
	right: -100px;

	width: 750px;
	z-index: -9;
	transform: rotate(-10deg);
}

@media only screen and (max-width: 992px) {
	body{
		background-image: none;
	}

	.div-form .bg-forma{
		position: absolute;
		z-index: -9;
		width: auto;
		height: 700px;

		right: -170px;
		top: -200px;
	}

	.jogadoras {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);

		height: 110%;
		z-index: -999;
	}

	.div-form.confimacao h3{
		color: #83f6df;
		font-size: 46px;
		text-transform: normal;
		text-align: center;
	}

	.div-form.confimacao p{
		font-size: 32px;
		text-align: center;
		color: #fff;
	}
}





.parceiros{
	position: relative;

}

.parceiros .agua{
	position: absolute;
	width: 750px;
	z-index: -15;
	bottom: 0px;
	right: -50px;
}


.parceiros .logo-parceiros{
	max-width: 100%;
}

.img-landing{
	height: 100vh;
	background-position: center center;
	background-size:  cover;
}

.img-landing.v1{
	background-image: url(/img/LANDING-MIX.jpg);
}


.links-social{
	top: 20px;
	right: 20px;
	position: absolute;
}
.links-social a{ color: #fff; }
.links-social a:hover{ color: #fff; text-decoration: none; }

.img-landing.v2 .links-social a{
	color: #222;
}

@media only screen and (max-width: 992px) {
	.img-landing{
		height: 50vh;
	}

	body{
		background-image: none;
	}

	.div-form .bg-forma{
		position: absolute;
		z-index: -9;
		width: auto;
		height: 700px;

		right: -170px;
		top: -200px;
	}

	.jogadoras {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);

		height: 110%;
		z-index: -999;
	}


	.parceiros .agua{
		position: absolute;
		width: 900px;
		z-index: -15;
		bottom: 0px;
		left: 0px;
	}
}



.desc h1{
	color: #83f6df;
	font-weight: 900;
	font-size: 60px;
}

.desc h2{
	margin-top: -15px;
	color: #fff;
	font-size: 46px;
}



.btn-primary {
	color: #fff;
	background-image: linear-gradient(90deg, #2e1ae3 30%, #d711fb 70%);
	background-position: center center;
	background-size: 200%;
	background-color: #101c2c;
	border-color: #101c2c00;
	transition: all .3s ease-in-out;
}

  .btn-primary:hover {
	color: #fff;
	background-color: #d37974;
	border-color: #101c2c00;
	background-position: right center;
}

  .btn-primary:focus, .btn-primary.focus {
	color: #fff;
	background-color: #d37974;
	border-color: #101c2c00;
	box-shadow: 0 0 0 0.2rem #101c2c99;
  }

  .btn-primary.disabled, .btn-primary:disabled {
	color: #fff;
	background-color: #e9a3a0;
	border-color: #101c2c00;
  }

  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #d37974;
	border-color: #101c2c00;
  }

  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem #101c2c99;
  }



